# Server configuration
PORT=3000

# MongoDB connection string
MONGO_URI=mongodb://127.0.0.1:27017/vocabapp

# OpenAI API key
OPENAI_API_KEY=sk-your-actual-api-key-here

# Node environment
NODE_ENV=development
